[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-migrate = "*"
flask-debugtoolbar = "*"
request = "*"
pyserial = "*"
flask-sqlalchemy = "*"
pyfirmata = "*"
flask-script = "*"
flask-admin = "*"
flask-security = "*"

[requires]
python_version = "3.7"
